{% extends "tpl/layout_home.html" %}
{% block title %}{% endblock %}
{% block style %}{% endblock %}
{% block category %}{% endblock %}
{% block content %}
<section class="artshow content active">
    <div class="box" id="contents" >
        <h1></h1>
        <span class="rel" id="viewsbar">
        </span>
        <div class="words">
        </div>
<!--         <div class="bdsharebuttonbox bdshare-button-style0-32" data-bd-bind="1449738359906">
            <a href="#" class="bds_more" data-cmd="more"></a>
            <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
            <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
            <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
            <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
            <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
        </div> -->
    </div>
<!-- <div class="footWechat">
        <img src="/images/wechat_code.jpg" alt="扫描关注网站建设微信公众账号" class="wechat"><p>试试长按二维码加关注</p>
    </div> -->
</section>
{% endblock %}
{% block script %}
<script type="text/javascript">
    var articleID = {{articleId}}
</script>
<script type="text/javascript" src="{{ url_for('static', filename='controler/article_detail.js') }}"></script>
{% endblock %}