{% extends "tpl/layout_home.html" %}
{% block title %}| 文章列表{% endblock %}

{% block category %}{% endblock %}
{% block style %}
<style>
    /*.bg{top:64px !important;}*/
    .bg{display: none}
</style>
{% endblock %}
{% block content %}
<section class="artlist content active">
    <ul class="items" id='articleList'>

      
      
    </ul>
</section>
{% endblock %}
{% block script %}
<script type="text/javascript">
    var type = {{type}}
    console.log(type)
</script>
<script type="text/javascript" src="{{ url_for('static', filename='controler/article_list.js') }}"></script>
{% endblock %}