{% extends "tpl/layout_home.html" %}
{% block title %}{% endblock %}
{% block contentTop %}
<section class="caseshow caselist content active" >
    <!-- <div id="Banner" class="banner" style="background:url(./static/img/banner.jpg);"></div> -->

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">

      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <div class="caption">视频</div>
    <div class="words">
        <ul class="items list-inline">       
            <!-- <li>
                <a href="/video" target="_blank"><div class="shade"><u></u></div>
                    <img src="./static/img/1.jpg" alt="" class="img-responsive">
                    <p>视频分类<br>
                    <strong>视频标题标题</strong><br>
                    2015年11月11日</p>
                    <div class="bg"><u></u></div>
                </a>
            </li> -->
        
            
        </ul>
    </div>
</section>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='controler/home_publish.js') }}"></script>
{% endblock %}