<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="qc:admins" content="432216144611606307" />
    <!-- <meta name="csrf-token" content="{/{ csrf_token() }}"> -->
    <title>kqmooc {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lib/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    {% block style %}{% endblock %}
</head>

<body >
    <header class="active" >
        <div class="box">
            <a href="" title="牙医会"><img src="{{ url_for('static', filename='img/logo.png') }}" alt=""></a>
            <nav>
              <ul>
                <li ><a href="/" >首页</a></li>
                <li ><a href="/video" >视频列表</a></li>
                <li><a href="/article" >文章动态</a></li>
                <li><a href="/articles" >专家专栏</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="/usercenter" >个人中心</a></li>
                {% endif %}
                <li class="bg" style="top: 0px;"></li></ul>
            </nav>
            <div class="wechat" style="margin-top:200px !important">
                <img src="{{ url_for('static', filename='img/wechat_code.jpg') }}" alt="扫描关注 牙医会 微信公众账号" class="wechat"><p>扫一扫微信二维码&nbsp;&nbsp;</p>
            </div>
            
        </div>
        <footer>

        </footer>
    </header>

    <section class="toolbar active">
        <!-- <a href="" title="返回首页" class="homelink"><span class="glyphicon glyphicon-chevron-left"></span></a> -->
        <!-- <span class="switch glyphicon glyphicon-chevron-left"></span> -->
        <div class="logo">
            <a href="">
                <!-- <img src="./static/img/logo.png" class="img-responsive"> -->
                口腔慕课
            </a>
        </div>
        <div class="category btn-group loginControl">  
        </div>
        {% block category %}{% endblock %}
        <div class="btn-group mini miniLogin"></div>
    </section>
    
    {% block contentTop %}{% endblock %}
    {% block content %}{% endblock %}
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">--口腔慕课学院--</h4>
          </div>
          <div class="modal-body">
            <div class="row">
                <div class="col-md-6 " id="loginform" style="">
                    <form style="margin-top:25px;">
                      <div class="form-group">
                        <label for="account">邮箱</label>
                        <input type="email" class="form-control account" placeholder="">
                        <div class="alert alert-danger" id="account" role="alert" style="display:none"></div>
                      </div>
                      <div class="form-group">
                        <label for="password">密码</label>
                        <input type="password" class="form-control password" placeholder="">
                         <div class="alert alert-danger" id="password" role="alert" style="display:none"></div>
                      </div>
                      <div class="form-group others hidden">
                        <label for="">昵称(必填)</label>
                        <input type="text" class="form-control " id="nickName" placeholder="" >
<!--                          <div class="alert alert-danger" id="nickNameT" role="alert" style="display:none"></div> -->
                      </div>
                      <div class="form-group others hidden">
                        <label for="">执业医师证书编号</label>
                        <input type="text" class="form-control " id="docId" placeholder="">
                        <div class="alert alert-danger" role="alert" style="display:none"></div>
                      </div>
                      <div class="form-group others hidden">
                        <label for="">联系电话</label>
                        <input type="text" class="form-control " id="tel" placeholder="">
                        <div class="alert alert-danger" id="" role="alert" style="display:none"></div>
                      </div>
                      <div class="form-group others hidden">
                        <label for="">所在医疗机构</label>
                        <input type="text" class="form-control " id="addr" placeholder="">
                        <div class="alert alert-danger" id="" role="alert" style="display:none"></div>
                      </div>
                    </form>
                </div>
                <div class="col-md-4 " id="loginway" >
                    <div class="signin-platform" >
        
                        <span onclick="signin.paltformLogin('sina')" class="oauth_buttons weibo"><label>使用新浪微博登录</label></span>
                        <span onclick="signin.paltformLogin('qq')" class="oauth_buttons qq"><label>使用QQ登录</label></span>
                        <span onclick="signin.paltformLogin('weixin')" class="oauth_buttons weixin hiding"><label></span>
                    
                    </div>
                </div>
            </div>
          </div>
          <!-- data-dismiss="modal" -->
          <div class="modal-footer">
              <button type="button" class="btn btn-default login" >登录</button>
              <button type="button" class="btn btn-primary regist">注册</button>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/global.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery.md5.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='controler/homeIndex.js') }}"></script>
    <script type="text/javascript">
        var _userId = '';
        var loginHtml = '';
        {% if current_user.is_authenticated %}
            _userId = {{current_user.id}};
            $('.loginControl').html('<a href="/user/logout" class="btn btn-default btn-primary" >注销</a>  ');
            $('#myModal').html('');

            loginHtml += 
            '<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{current_user.nickName}}<span class="caret"></span></button>'
            +'<ul class="dropdown-menu dropdown-menu-right ">'
            +    '<li><a href="/user/logout">注销</a></li>'
            +'</ul>'
            $('.miniLogin').html(loginHtml);
            {% else %}
                $('.loginControl').html('<a href="" class="btn btn-default btn-primary" data-toggle="modal" data-target="#myModal">登陆</a><a href="" class="btn btn-default " data-toggle="modal" data-target="#myModal">注册</a>');
                $('.miniLogin').html('<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">用户<span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right "><li><a href="" data-toggle="modal" data-target="#myModal">登陆</a></li><li><a href="">注册</a></li></ul>')
        {% endif %}  
    </script>
    {% block script %}{% endblock %}
</body>
</html>