<html>
<head>
    <meta charset="utf-8">
    <title>kqmooc-管理后台</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lib/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    {% block style %}{% endblock %}
</head>
<body >
    <header class="active" >
        <div class="box">
            <a href="" title="牙医会"><img src="{{ url_for('static', filename='img/logo.png') }}" alt=""></a>
            <nav>
              <ul>
                <li ><a href="/kqmoocadmin/public" >发布管理</a></li>
                <li ><a href="/kqmoocadmin" >首页管理</a></li>
                <li><a href="/kqmoocadmin/class" >分类管理</a></li> 
                <li ><a href="/kqmoocadmin/video" >视频管理</a></li>
                <li><a href="/kqmoocadmin/article" >文章管理</a></li>
                <li><a href="/kqmoocadmin/author" >专栏管理</a></li>
                <li><a href="/kqmoocadmin/user" >用户管理</a></li>
                <li><a href="/kqmoocadmin/adv" >广告管理</a></li>              
                <li class="bg"></li>
              </ul>
            </nav>
            <div class="wechat" style="margin-top:200px !important">
                <img src="{{ url_for('static', filename='img/wechat_code.jpg') }}" alt="扫描关注 牙医会 微信公众账号" class="wechat"><p>扫一扫微信二维码&nbsp;&nbsp;</p>
            </div>
        </div>
        <footer>

        </footer>
    </header>
    <section class="toolbar active">
        <!-- <a href="" title="返回首页" class="homelink"><span class="glyphicon glyphicon-log-out"></span></a> -->
        <span class="switch glyphicon glyphicon-log-out"></span>
        <div class="logo">
            <a href="">
                <!-- <img src="./static/img/logo.png" class="img-responsive"> -->
                kqmooc
            </a>
        </div>
        <div class="category btn-group ">
            <a href="/user/logout" class="btn btn-default ">注销</a>     
        </div>
        {% block category %}{% endblock %}
        <div class="btn-group mini">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">用户<span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="" data-toggle="modal" data-target="#myModal">登陆</a></li>
                <li><a href="">注册</a></li>
            </ul>
        </div>
    </section>
    {% block content %}{% endblock %}
    <section class="artshow content active " style="width:100%">
        <div class="box" >
            <h1>{% block h1 %}{% endblock %}</h1>          
            <div class="words">
              {% block words %}{% endblock %}
            </div>
            {% block page %}{% endblock %}
        </div>
        
    </section>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/global.js') }}"></script>
    {% block script %}{% endblock %}
</body>
</html>