{% extends "tpl/layout_admin.html" %}
{% block style %}
<style >
.bg{
  top:224px !important;
}
</style>
{% endblock %}
{% block h1 %}广告管理{% endblock %}
{% block words %}
<button type="button" class="btn btn-info">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 新增广告&nbsp;&nbsp;&nbsp; </button>
<div class="panel panel-default" >
  <!-- Default panel contents -->
    <div class="panel-heading"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> 广告管理</div>
    <table class="table table-striped table-bordered table-hover table-condensed table-striped">
        <thead>
          <tr>
            <th width="5%">#</th>
            <th width="15%">名称</th>
            <th width="10%">买家</th>
            <th width="5%">广告类型</th>
            <th width="5%">投放位置</th>
            <th width="5%">单次时长</th>
            <th width="5%">购买次数</th>
            <th width="5%">剩余次数</th>
            <th width="10%">单价/总价</th>
            <th width="10%">创建日期</th>
            <th width="15%">投放状态</th>
            <th width="10%">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td><a href="">广告</a></td>
            <td>Cyy</td>
            <td>视频</td>
            <td>片头</td>
            <td>3 秒</td>
            <td>10 </td>
            <td>1</td>
            <td>5元 / 50元</td>
            <td>2015/11/11</td>
            <td>
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-danger btn-xs active">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> &nbsp;&nbsp;&nbsp;投放&nbsp;&nbsp;&nbsp;
                  </label>
                  <label class="btn btn-danger btn-xs">
                    <input type="radio" name="options" id="option2" autocomplete="off"> &nbsp;&nbsp;&nbsp;下架&nbsp;&nbsp;&nbsp;
                  </label>
                </div>
            </td>
            <td>
                <button type="button" class="btn btn-default btn-xs" data-action="view"><span class="glyphicon glyphicon-eye-open"> </span> 查看 </button>
                <button type="button" class="btn btn-default btn-xs" data-action="edit"><span class="glyphicon glyphicon-edit"> </span> 编辑 </button>
                <button type="button" class="btn btn-default btn-xs" data-action="delete"><span class="glyphicon glyphicon-remove"> </span> 删除 </button>
            </td>
          </tr>

        </tbody>
    </table>
</div>
{% endblock %}
{% block page %}
{% endblock %}
{% block script %}{% endblock %}