{% extends "tpl/layout_admin.html" %}
{% block style %}
<style >
.bg{
  top:128px !important;
}
</style>
{% endblock %}
{% block h1 %}文章管理{% endblock %}
{% block words %}
<a href="/kqmoocadmin/articleadd" class="btn btn-info" >&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 新增文章&nbsp;&nbsp;&nbsp; </a>
<div class="panel panel-default" >
  <!-- Default panel contents -->
    <div class="panel-heading"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> 文章管理</div>
    <table class="table table-striped table-bordered table-hover table-condensed table-striped">
        <thead>
          <tr>
            <th width="5%">#</th>
            <th width="20%">名称</th>
            <th width="8%">分类</th>
            <th width="10%">作者</th>
            <th width="10%">时间</th>
            <th width="16%">状态</th>
            <th width="25%">操作</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
</div>
{% endblock %}
{% block page %}
<div id="Paging" class="paging" style="margin:0 !important">
    <div class="qzPagination">
    </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript"> 
    var type = '1'
</script>
<script type="text/javascript" src="{{ url_for('static', filename='controler/admin_article.js') }}"></script>
{% endblock %}