{% extends "tpl/layout_admin.html" %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/wangEditor-1.3.12.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default.css') }}">
<link href="{{ url_for('static', filename='css/fileinput.css') }}" media="all" rel="stylesheet" type="text/css" />
<style >
.bg{
  top:160px !important;
  width: 130px !important;
}
/*nav ,ul,li{
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}*/
</style>
{% endblock %}
{% block h1 %}新增文章{% endblock %}
{% block words %}
<!-- <form> -->
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="title">文章标题</label>
        <input type="text" class="form-control" id="title" placeholder="">
      </div>
      <div class="form-group">
        <label for="describe">文章简介</label>
        <textarea class="form-control" id="describe" placeholder="" style="min-height:160px"></textarea>
      </div>
      <div class="form-group">
        <label for="cat">文章分类</label>
        <select class="form-control classify">
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group " id="_poster">
        <label for="file1">上传文章缩略图(230*160px)</label>
        <input id="file-1" class="file" type="file" name="files" multiple data-preview-file-type="any" data-upload-url="/article/uploadposter" data-preview-file-icon="">
        <input type="hidden" id="postUrl">
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="content">文章正文</label>
    <textarea id="content" style="min-height:200px"></textarea>
  </div>
  <div class="form-group " id="_pic">
    <label for="file2">上传文章轮播图(1680*393px)</label>
    <input id="file-2" class="file" type="file" name="files" multiple data-preview-file-type="any" data-upload-url="/article/uploadpic" data-preview-file-icon="">
    <input type="hidden" id="picUrl">
  </div>
  <button class="btn btn-info commitBtn">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 提交&nbsp;&nbsp;&nbsp; </button>
<!-- </form> -->
{% endblock %}
{% block page %}{% endblock %}
{% block script %}
<script type="text/javascript"> 
    var type = '2'
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/wangEditor-1.3.12.js') }}"></script>
<script src="{{ url_for('static', filename='js/fileinput.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/fileinput_locale_zh.js') }}" type="text/javascript"></script>
<script type="text/javascript" src="{{ url_for('static', filename='controler/admin_articleadd.js') }}"></script>
{% endblock %}