{% extends "tpl/layout_admin.html" %}
{% block style %}
<style >
.bg{
  top:64px !important;
}
.modal-footer{
  padding:15px;
}
</style>
{% endblock %}
{% block h1 %}分类管理{% endblock %}
{% block words %}
<a href="" class="btn btn-info" data-toggle="modal" data-target="#myModal">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-plus" aria-hidden="true" ></span> 新增分类&nbsp;&nbsp;&nbsp; </a>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="width:100%">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <span class="glyphicon glyphicon-cog"> </span> 视频分类<span class="glyphicon glyphicon-chevron-down" style="float:right"></span>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body ">
        <div class="panel-heading"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> 视频分类列表</div>
        <table class="table table-striped table-bordered table-hover table-condensed table-striped">
          <thead>
            <tr>
              <th >#</th>
              <th >名称</th>
              <!-- <th >内容数目</th> -->
              <th >操作</th>
            </tr>
          </thead>
          <tbody >
          </tbody>
      </table>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <span class="glyphicon glyphicon-cog" aria-hidden="true"> </span> 文章分类<span class="glyphicon glyphicon-chevron-down" style="float:right"></span>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <div class="panel-heading"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> 文章分类列表</div>
            <table class="table table-striped table-bordered table-hover table-condensed table-striped">
              <thead>
                <tr>
                  <th >#</th>
                  <th >名称</th>
                  <!-- <th >内容数目</th> -->
                  <th >操作</th>
                </tr>
              </thead>
              <tbody >
              </tbody>
          </table>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <span class="glyphicon glyphicon-cog" aria-hidden="true"> </span> 专栏分类<span class="glyphicon glyphicon-chevron-down" style="float:right"></span>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <div class="panel-heading"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> 专家分类列表</div>
            <table class="table table-striped table-bordered table-hover table-condensed table-striped">
              <thead>
                <tr>
                  <th >#</th>
                  <th >名称</th>
                  <!-- <th >内容数目</th> -->
                  <th >操作</th>
                </tr>
              </thead>
              <tbody >
              </tbody>
          </table>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-plus" aria-hidden="true" ></span> 新增分类&nbsp;&nbsp;&nbsp; </h4>
      </div>
      <div class="modal-body">
        <form style="margin-top:25px;">
          <div class="form-group">
            <label for="account"> 新增分类</label>
            <input type="text" id="newClass" class="form-control account" placeholder="">
            <div class="alert alert-danger"  role="alert" style="display:none"></div>
            
            <label for=""> 父级分类</label>
            <select class="form-control classify">
                <option value="0">视频</option>
                <option value="1">文章</option>
                <option value="2">专家专栏</option>
            </select>
            <div class="alert alert-danger"  role="alert" style="display:none"></div>
          </div>
        </form>
      </div>
        <!-- data-dismiss="modal" -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary addClass" >添加</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block page %}
<div id="Paging" class="paging" style="margin:0 !important">
  <div class="qzPagination">
  </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='controler/admin_class.js') }}"></script>
{% endblock %}