{% extends "tpl/layout_admin.html" %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/wangEditor-1.3.12.css') }}">
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default.css') }}"> -->
<link href="{{ url_for('static', filename='css/fileinput.css') }}" media="all" rel="stylesheet" type="text/css" />
<style >
.bg{
  /*top:128px !important;*/
  display: none
}
/*nav ,ul,li{
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}*/
</style>
{% endblock %}
{% block h1 %}编辑文章{% endblock %}
{% block words %}
<!-- <form> -->
  <div class="form-group">
    <label for="title">文章标题</label>
    <input type="text" class="form-control" id="title" placeholder="">
  </div>
  <div class="form-group">
    <label for="describe">文章简介</label>
    <textarea  class="form-control" id="describe" placeholder="" style="min-height:160px"></textarea>
  </div>
  <div class="form-group">
    <label for="cat">文章分类</label>
    <select class="form-control classify">
    </select>
  </div>
  <div class="form-group">
    <label for="content">文章正文</label>
    <textarea id="content" style="min-height:200px"></textarea>
  </div>
  <button class="btn btn-info commitBtn">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 提交&nbsp;&nbsp;&nbsp; </button>
<!-- </form> -->
{% endblock %}
{% block page %}{% endblock %}
{% block script %}
<script type="text/javascript">
    var id = {{id}}
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/wangEditor-1.3.12.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='controler/admin_article_edit.js') }}"></script>
{% endblock %}