<html>
<head>
    <meta charset="utf-8">
    <title>kqmooc-管理后台</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lib/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    {% block style %}{% endblock %}
</head>
<body >
    <header class="active" >
        <div class="box">
            <a href="" title="牙医会"><img src="{{ url_for('static', filename='img/logo.png') }}" alt=""></a>
            <nav>
              <ul>
                <li ><a href="">登录</a></li>
                <li class="bg" style="top: 0px;"></li>
              </ul>
            </nav>
            <div class="wechat" style="margin-top:200px !important">
                <img src="{{ url_for('static', filename='img/wechat_code.jpg') }}" alt="扫描关注 牙医会 微信公众账号" class="wechat"><p>扫一扫微信二维码&nbsp;&nbsp;</p>
            </div>
        </div>
        <footer>

        </footer>
    </header>
    {% block content %}{% endblock %}
    <section class="artshow content active " style="width:100%">
        <div class="box" >
            <h1>登录</h1>          
            <div class="words">
                <div class="row" style="margin-top:50px">
                    <div class="col-md-3" ></div>
                    <div class="col-md-6" >
                      <div class="form-group">
                        <label for="account">邮箱</label>
                        <input type="email" class="form-control account" placeholder="">
                        <div class="alert alert-danger" id="account" role="alert" style="display:none"></div>
                      </div>
                      <div class="form-group">
                        <label for="password">密码</label>
                        <input type="password" class="form-control password" placeholder="">
                         <div class="alert alert-danger" id="password" role="alert" style="display:none"></div>
                      </div>
                      <div class="form-group">
                        <div style="margin:0 auto;width:100px">
                            <button type="button" class="btn btn-info login" style="padding-left:50px;padding-right:50px">登录</button>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/global.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery.md5.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='controler/admin_login.js') }}"></script>
</body>
</html>