{% extends "tpl/layout_admin.html" %}
{% block style %}{% endblock %}
{% block h1 %}发布管理{% endblock %}
{% block words %}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="width:100%">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <span class="glyphicon glyphicon-facetime-video"> </span> 未发布视频<span class="glyphicon glyphicon-chevron-down" style="float:right"></span>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body ">
        <div class="panel-heading"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> 视频列表</div>
        <table class="table table-striped table-bordered table-hover table-condensed table-striped">
            <thead>
              <tr>
                <th width="5%">#</th>
                <th width="20%">名称</th>
                <th width="8%">分类</th>
                <th width="10%">作者</th>
                <th width="10%">时间</th>
                <th width="16%">状态</th>
                <th width="25%">操作</th> 
              </tr>
            </thead>
            <tbody >

            </tbody>
        </table>    
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <span class="glyphicon glyphicon-cog" aria-hidden="true"> </span> 未发布文章<span class="glyphicon glyphicon-chevron-down" style="float:right"></span>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <div class="panel-heading"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> 文章列表</div>
            <table class="table table-striped table-bordered table-hover table-condensed table-striped">
                <thead>
                  <tr>
                    <th width="5%">#</th>
                    <th width="20%">名称</th>
                    <th width="8%">分类</th>
                    <th width="10%">作者</th>
                    <th width="10%">时间</th>
                    <th width="16%">状态</th>
                    <th width="25%">操作</th>
                  </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
      </div>
    </div>
  </div>
</div>
（默认首页显示每个分类前四个推荐内容，置顶数目最多为四个）

{% endblock %}
{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='controler/admin_public.js') }}"></script>
{% endblock %}