{% extends "tpl/layout_admin.html" %}
{% block style %}
<style >
.bg{
  top:192px !important;
}
</style>
{% endblock %}
{% block h1 %}用户管理{% endblock %}
{% block words %}
<div class="panel panel-default" >
  <!-- Default panel contents -->
    <div class="panel-heading"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> 用户管理</div>
    <table class="table table-striped table-bordered table-hover table-condensed table-striped">
        <thead>
          <tr>
            <th width="5%">#</th>
            <th width="15%">名称</th>
            <th width="20%">账号</th>
            <th width="10%">身份</th>
            <th width="10%">执业医师证</th>
            <th width="10%">创建时间</th>
            <!-- <th width="20%">最近登录</th> -->
            <th width="30%">操作</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
{% endblock %}
{% block page %}
<div id="Paging" class="paging" style="margin:0 !important">
    <div class="qzPagination"></div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='controler/admin_user.js') }}"></script>
{% endblock %}
