{% extends "tpl/layout_admin.html" %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default.css') }}">
<link href="{{ url_for('static', filename='css/fileinput.css') }}" media="all" rel="stylesheet" type="text/css" />
<style >
.bg{
  top:96px !important;
  width: 100px !important;
}
</style> 
{% endblock %}
{% block h1 %}新增视频{% endblock %}
{% block words %}
<form enctype="multipart/form-data">
  <div class="form-group">
    <label for="title">标题</label>
    <input type="text" class="form-control" id="title" placeholder="">
  </div>
  <div class="form-group">
    <label for="describe">视频简介</label>
    <textarea type="password" class="form-control" id="describe" placeholder="" style="min-height:100px"></textarea>
  </div>
  <div class="form-group">
    <label for="cat">视频分类</label>
    <select class="form-control classify">
    </select>
  </div>
  <div class="row">
    <div class="form-group col-md-6 _poster">
      <label for="file1">上传视频封面(340*200px)</label>
      <input id="file-1" class="file" type="file" name="files" multiple data-preview-file-type="any" data-upload-url="/video/uploadposter" data-preview-file-icon="">
      <input type="hidden" id="postUrl">
    </div>
    <div class="form-group col-md-6 _video">
      <label for="file2">上传视频</label>
      <input id="file-2" class="file" type="file" name="files" multiple data-preview-file-type="any" data-upload-url="/video/uploadvideo" data-preview-file-icon="">
      <input type="hidden" id="videoUrl">
    </div>
  </div>
</form>
<button type="" class="btn btn-info commitBtn">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 提交&nbsp;&nbsp;&nbsp; </button>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/fileinput.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/fileinput_locale_zh.js') }}" type="text/javascript"></script>
<script type="text/javascript" src="{{ url_for('static', filename='controler/admin_videoadd.js') }}"></script>
{% endblock %}