{% extends "tpl/layout_admin.html" %}
{% block style %}
<style >
.bg{
  top:96px !important;
}
</style>
{% endblock %}
{% block h1 %}视频管理{% endblock %}
{% block words %}
<a href="/kqmoocadmin/videoadd" class="btn btn-info" >&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 新增视频&nbsp;&nbsp;&nbsp; </a>
<div class="panel panel-default" >
  <!-- Default panel contents -->
    <div class="panel-heading"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> 视频管理</div>
    <table class="table table-striped table-bordered table-hover table-condensed table-striped">
        <thead>
          <tr>
            <th width="5%">#</th>
            <th width="15%">名称</th>
            <th width="8%">分类</th>
            <th width="10%">作者</th>
            <th width="15%">时间</th>
            <th width="16%">状态</th>
            <th width="25%">操作</th>
          </tr>
        </thead>
        <tbody >
          

        </tbody>
    </table>
</div>
{% endblock %}
{% block page %}
<!-- <div id="Paging" class="paging" style="margin:0 !important">
    <div class="qzPagination"><span class="disabled prev">«</span><span class="current">1</span><a href="/article/page-2/">2</a><a href="/article/page-3/">3</a><a href="/article/page-4/">4</a><a href="/article/page-5/">5</a><a href="/article/page-6/">6</a><a href="/article/page-7/">7</a><a href="/article/page-8/">8</a><a href="/article/page-2/" class="next">»</a></div></div> -->
<div id="Paging" class="paging" style="margin:0 !important">
    <div class="qzPagination">
        <!-- <span class="disabled prev">«</span>
        <span class="current">1</span>
        <span class="default " id="page-1">2</span>
        <span class="default next" >»</span> -->
    </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='controler/admin_video.js') }}"></script>
{% endblock %}