{% extends "tpl/layout_admin.html" %}
{% block title %}| {{videoName}}{% endblock %}
{% block style %}
<style>
    body{background: #000}
</style>
{% endblock %}
{% block body %} ondragstart="window.event.returnValue=false" oncontextmenu="window.event.returnValue=false" onselectstart="event.returnValue=false" {% endblock %}
{% block category %}

{% endblock %}

{% block content %}
    <section class="toolbar active">
        <a href="" title="返回首页" class="homelink"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <span class="switch glyphicon glyphicon-chevron-left"></span>
        <div class="logo">
            <a href="">
                <!-- <img src="./static/img/logo.png" class="img-responsive"> -->
                KqMOOC
            </a>
        </div>
        <div class="category btn-group ">    
        </div>
    </section>
    <section class="caseshow content active" style="width:100%">
        <div id="Banner" class="banner" style="margin:0 auto">
            <video id="_video_" class="video-js" controls="controls" autoplay="" preload="auto" src="{{ url_for('static', filename='uploads/video/'+videoUrl)}}" poster="{{ url_for('static', filename='uploads/video/poster/'+posterUrl)}}" >
            <source src="{{ url_for('static', filename='uploads/video/'+videoUrl)}}" type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2&quot;">
            </video>
            <!-- <div class="likeLink"></div> -->
        </div>

        <div class="caption" style="color:#fff">视频介绍</div>
        <div class="words" style="color:#fff">
            <h1>[ {{videoName}} ]</h1>
            <p>{{description}}</p>
        
        </div>
    </section>
    
{% endblock %}
{% block script %}
<script type="text/javascript">
    $('body').attr("ondragstart","window.event.returnValue=false").attr("oncontextmenu","window.event.returnValue=false").attr("onselectstart","event.returnValue=false");
    $('.artshow').hide();

    // getAjax('/video/'+videoId,'',function(callback){
        // console.log({{data}})
</script>
{% endblock %}