{% extends "tpl/layout_home.html" %}
{% block title %}| 视频列表{% endblock %}
{% block style %}
<style>
    .bg{top:32px !important;}
</style>
{% endblock %}
{% block category %}
<div class="category btn-group tag_normal">    
</div>      
<div class="btn-group mini">
    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">全部<span class="caret"></span></button>
    <ul class="dropdown-menu dropdown-menu-right tag_drop">
    </ul>
</div>
{% endblock %}
{% block content %}
<section class="caselist content active">
    <ul class="items list-inline">
    
        
    </ul>
    <div id="Paging" class="paging">
        <div class="qzPagination"><span class="disabled prev">«</span><span class="current">1</span><span class="disabled next">»</span></div>
    </div>

</section>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='controler/video_list.js') }}"></script>
{% endblock %}