{% extends "tpl/layout_home.html" %}
{% block title %}{% endblock %}
{% block style %}
<style>
    body{background: #000}
    .bg{top:32px !important;}
</style>
{% endblock %}
{% block body %} ondragstart="window.event.returnValue=false" oncontextmenu="window.event.returnValue=false" onselectstart="event.returnValue=false" {% endblock %}
{% block category %}
<div class="btnList">
    <div class="link btn-group ml">
        <a href="/video" class="btn btn-default" title="">视频列表</a>
    </div>
    <!-- <div class="link btn-group">
        <a href="" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span>PREV</a>
    </div>
    <div class="link btn-group">
        <a href="" class="btn btn-default">NEXT<span class="glyphicon glyphicon-arrow-right"></span></a>
    </div> -->
</div>
<div class="mini">
    <div class="link btn-group ml">
        <a href="/video" class="btn btn-default" title=""><span class="glyphicon glyphicon-th-list"></span> 视频列表</a>
    </div>
   <!--  <div class="link btn-group">
        <a href="" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span></a>
    </div>
    <div class="link btn-group">
        <a href="" class="btn btn-default"><span class="glyphicon glyphicon-arrow-right"></span></a>
    </div> -->
</div>
{% endblock %}

{% block content %}
    <section class="caseshow content active" style="width:100%">
        <div id="Banner" class="banner" style="margin:0 auto">
            <video id="video" controls="controls" autoplay="" preload="auto" src="" poster="" > 　　
                <source src="" type="video/mp4; codecs='avc1.42E01E, mp4a.40.2'">
            </video>
            <!-- <div class="likeLink"></div> -->
        </div>

        <div class="caption" style="color:#fff">视频介绍</div>
        <div class="words" style="color:#fff">
            <h1></h1>
            <p></p>
        
        </div>
    </section>
    
{% endblock %}
{% block script %}
<script type="text/javascript">
$(function(){
    $('body').attr("ondragstart","window.event.returnValue=false").attr("oncontextmenu","window.event.returnValue=false").attr("onselectstart","event.returnValue=false");

    var videoId = {{videoId}}
    {% if current_user.is_authenticated %}
        getContent(videoId);
      {% else %}
      // error Tips
        console.log("需要登录后才可以观看哦~")
        showTips();
    {% endif %}  
})

</script>
<script type="text/javascript" src="{{ url_for('static', filename='controler/video_play.js') }}"></script>
{% endblock %}