{% extends "tpl/layout_home.html" %}
{% block title %}| 用户中心{% endblock %}

{% block category %}
<!-- <div class="category btn-group tag_normal">
    <a class="btn btn-default btn-primary" data-action="index">个人资料</a>
    <a class="btn btn-default" data-action="video">收藏列表</a>
    <a class="btn btn-default" data-action="article"></a>
</div>   -->    
<div class="btn-group mini">
    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">全部<span class="caret"></span></button>
    <ul class="dropdown-menu dropdown-menu-right tag_drop">
    </ul>
</div>
{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/wangEditor-1.3.12.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default.css') }}">
<link href="{{ url_for('static', filename='css/fileinput.css') }}" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div></div>
<section class="artlist content active" style="width:100%;left:0">
    <!-- <div style="border-bottom:2px solid green;width:100%;height:50px"></div> -->
    <div class="userwrapper" >
        <div class="col-md-12">
            <div class="usercenter">
                <div class="user_profile" >
                    <div id="user_ava"><img id="user_avas" src="/static/img/avator-default.png"></div>
                    <div id="user_name"></div>
                    <div id="user_id"></div>
                    <div id="user_menu">
                        <a class="menu_sub " href="/usercenter">个人资料</a>
                        <a class="menu_sub " href="/usercenter/collect">个人收藏</a>
                        <a class="menu_sub subactive" href="/usercenter/public">发布文章</a>
                    </div>
                </div>
                <div id="user_count">
                    <span id="user_about"></span>
                    <span id="user_about_content"></span>
                </div>
            </div>

            <div class="userinfo_wrap">
                <div class="row userinfo_wraps">           
                    <div class="col-md-12 userinfo" >
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="title">文章标题</label>
                            <input type="text" class="form-control" id="title" placeholder="">
                          </div>
                          <div class="form-group">
                            <label for="describe">文章简介</label>
                            <textarea class="form-control" id="describe" placeholder="" style="min-height:160px"></textarea>
                          </div>
                          <div class="form-group">
                            <label for="cat">文章分类</label>
                            <select class="form-control classify">
                            </select>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group " id="_poster">
                            <label for="file1">上传文章缩略图(230*160px)</label>
                            <input id="file-1" class="file" type="file" name="files" multiple data-preview-file-type="any" data-upload-url="/article/uploadposter" data-preview-file-icon="">
                            <input type="hidden" id="postUrl">
                          </div>
                        </div>
                        <div class="form-group" style="padding:15px">
                            <label for="content">文章正文</label>
                            <textarea id="content" style="min-height:200px"></textarea>
                            <button class="btn btn-info commitBtn" style="margin-top:10px">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 提交&nbsp;&nbsp;&nbsp; </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>


{% endblock %}
{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/wangEditor-1.3.12.js') }}"></script>
<script src="{{ url_for('static', filename='js/fileinput.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/fileinput_locale_zh.js') }}" type="text/javascript"></script>
<script type="text/javascript" src="{{ url_for('static', filename='controler/usercenter_addarticle.js') }}"></script>
{% endblock %}