{% extends "tpl/layout_home.html" %}
{% block title %}| 用户中心{% endblock %}

{% block category %}
<!-- <div class="category btn-group tag_normal">
    <a class="btn btn-default btn-primary" data-action="index">个人资料</a>
    <a class="btn btn-default" data-action="video">收藏列表</a>
    <a class="btn btn-default" data-action="article"></a>
</div>   -->    
<div class="btn-group mini">
    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">全部<span class="caret"></span></button>
    <ul class="dropdown-menu dropdown-menu-right tag_drop">
    </ul>
</div>
{% endblock %}
{% block style %}
<style>
    .bg{top:128px !important;}
</style>
{% endblock %}

{% block content %}
<div></div>
<section class="artlist content active" style="width:100%;left:0">
    <!-- <div style="border-bottom:2px solid green;width:100%;height:50px"></div> -->
    <div class="userwrapper" >
        <div class="col-md-12">
            <div class="usercenter">
                <div class="user_profile" >
                    <div id="user_ava"><img id="user_avas" src="/static/img/avator-default.png"></div>
                    <div id="user_name"></div>
                    <div id="user_id"></div>
                    <div id="user_menu">
                        <a class="menu_sub " href="/usercenter">个人资料</a>
                        <a class="menu_sub subactive" href="/usercenter/collect">个人收藏</a>
                        <a class="menu_sub " href="/usercenter/public">发布文章</a>
                    </div>
                </div>
                <div id="user_count">
                    <span id="user_about">关于 Marcus Doe</span>
                    <span id="user_about_content"></span>
                </div>
            </div>

            <div class="userinfo_wrap">
                <div class="row userinfo_wraps">           
                    <div class="col-md-12 userinfo" >
                        <font style="font-size:23px;font-weight:400;color:#DFE3EA">(暂无收藏)
                    </div>

                </div>
            </div>
            
        </div>
        
    </div>
</section>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='controler/usercenter_info.js') }}"></script>
{% endblock %}